<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS MOTORS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section id="Rssmotors">
    <nav>
        <div class="logo"><img src="../public/light.png" alt="Rssmotors Logo"></div>
        <div class="link"><a href="#">Contact Us</a></div>
    </nav>
    
    <div class="showContainer"></div>

    <div class="contentContainer">
        <h1>Introducing Sakaram</h1>
        <img src="../public/sakaram.jpeg" alt="Sakaram">
        
    </div>
    <div class="specificationContainer"></div>
</section>




    <script src="script.js"></script>
</body>
</html>