<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS MOTORS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<section id="Rssmotors">
    <nav>
        <div class="logo"><img src="../public/light.png" alt="Rssmotors Logo"></div>
        <div class="link"><a href="#go">Contact Us</a></div>
    </nav>
    
    <div class="showContainer"></div>

    <div class="contentContainer" id="go">
        <div><h1>Introducing Sakaram</h1></div>

        <div class="content">
            <div class="sakaramImage">
                <img src="../public/sakaram.jpeg" alt="Sakaram">
            </div>
            <div class="realContent">
                <h2>A New way to travel</h2>
                <p>A New Generation of Electric cars which provies sealess travelling and convenience. With Sakaram XYZ-007. Travelling will be more efficeint and more enjoyable than ever before</p>
            </div>
        </div>
        
        
    </div>
    <div class="specificationContainer">
        <div class="projectRange">
            <p>Project Range: </p>
            <h4><span id="value1">400</span> mi</h4>
        </div>
        <div class="Horsepower">
            <p>Horsepower:</p>
            <h4><span id="value2">920</span>hp</h4>
        </div>
        <div class="speed">
            <p>0-<span id="value">0</span> mph: </p> 
            <h4>2.3s</h4>
        </div>
    </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
    <script src="script.js"></script>
</body>
</html>